@model SalesWebMvc.Models.ViewModels.SalesFormViewModel;
@{
    ViewData["Tittle"] = "Edit Sale";
}
<h2>@ViewData["Tittle"]</h2>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Sale.Id" />
            <input type="hidden" asp-for="Sale.Date" />
            <input type="hidden" asp-for="Sale.SellerId" />
            <input type="hidden" asp-for="Sale.Amount" />
            <!--
            <div asp-validation-summary="All" class="text-danger"></div>
            -->
            <div class="form-control">
                <label asp-for="Sale.Date"></label>
                <input asp-for="Sale.Date" disabled /><br />
                <span asp-validation-for="Sale.Date" class="text-danger"></span>
            </div>
            <div class="form-control">
                <label asp-for="Sale.Amount"></label>
                <input asp-for="Sale.Amount" disabled /><br />
                <span asp-validation-for="Sale.Amount" class="text-danger"></span>
            </div>
            <div class="form-control">
                <label asp-for="Sale.SellerId"></label>
                <select asp-for="Sale.SellerId"  asp-items="@(new SelectList(Model.Sellers,"Id","Name"))" class="form-control form-select border-2" disabled></select>
            </div>
            <div class="form-control">
                <label asp-for="Sale.Status"></label>
                <select asp-for="Sale.Status" class="form-control form-select border-2">
                    @foreach(string status in Model.SaleStatus)
                    {
                        <option value="@status">@status</option>
                    }
                </select>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-danger">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}